@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&family=Maven+Pro:wght@500;700&family=Open+Sans:ital,wght@1,400;1,500&family=Oswald&family=Roboto+Mono:wght@600;700&display=swap');
/*primary use of parent element */
:root {
  --primary-color: #0c0314;
  --primary-color-dark: #465861;
  --secondary-color: #0c0c0b;
  --text-dark: #020305;
  --text-light: #0d0d0e;
  --extra-light: #e5e3e7;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Kanit', 'Maven Pro', 'Open Sans', 'Oswald', 'Roboto Mono', sans-serif;
  font-size: 25px;
  color: black
  
}

/* Typewriter effect */

.typewriter h1 {
  color: #000000;
  font-family: 'Kanit', 'Maven Pro', 'Open Sans', 'Oswald', 'Roboto Mono', sans-serif;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .25em solid rgb(13, 236, 225); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin-left: 0.1em; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .10em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(16, end),
    blink-caret 0.5s step-end infinite;
}



/* Cursor blinking */

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* Cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(8, 233, 203) }
}

@keyframes typewriter{
  from{width: 0;}
  to{width: 1em;}
}



nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 99;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
}
nav .logo a:hover {
  color: var(--primary-color-dark);
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}


/* nav bar hover */
ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 900;
  color: var(--text-dark);
  transition: 0.3s;
}

ul li a:hover {
  border-top-color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color);
}

.section {
  background-color: var(--extra-light);
}

.section__container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

/* body */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  letter-spacing: 2px;
  color: var(--text-light);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.title span {
  font-weight: 600;
}

.description {
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 2rem;
}


/* buttons styling */

.action__btns {
  display: flex;
  gap: 1rem;
}

.action__btns button {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
  font-family: 'Kanit', 'Maven Pro', 'Open Sans', 'Oswald', 'Roboto Mono', sans-serif;
}

.click_me {
  background-color: var(--primary-color);
  color: #ececec;
}

.click_me:hover {
  background-color: var(--primary-color-dark);
}



.image {
  display: grid;
  place-items: center;
}

.image img {
  width: min(25rem, 90%);
  border-radius: 100%;
}
/* Mobile viewing */
@media (width < 750px) {
  nav .checkbox {
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    background-color: var(--extra-light);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.25rem;
  }

  .section__container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .image {
    grid-area: 1/1/2/2;
  }

  .action__btns {
    margin: auto;
  }

  /* Social icons */
  .github-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  opacity: 0.7;
}
  

  
  
}

/* footer */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  font-size: 12px;
  color: black;
  font-weight: bold;
  font-family: 'Kanit', 'Maven Pro', 'Open Sans', 'Oswald', 'Roboto Mono', sans-serif;
  text-align: center;
}

@media (max-width: 750px) {
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    font-size: 12px;
    color: black;
    font-weight: bold;
    font-family: 'Kanit', 'Maven Pro', 'Open Sans', 'Oswald', 'Roboto Mono', sans-serif;
    text-align: center;
    z-index: 999; /* Added z-index to ensure it's above other content */
  }
}

/* Dark/light theme toggle */

/* Style for the sun icon */
.ri-sun-line {
  font-size: 24px; /* Adjust the size of the sun icon */
  color: #140909; /* Adjust the color of the sun icon */
  margin-right: 10px; /* Add spacing to the right of the sun icon */
 
}

/* Style for the moon icon */
.ri-moon-line {
  font-size: 24px; /* Adjust the size of the moon icon */
  color: #000000; /* Adjust the color of the moon icon */
  margin-left: 10px; /* Add spacing to the left of the moon icon */
  
}

.container {
  display: flex;
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
}

/* Style for the toggle switch */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: auto;
  height: 1.5rem;
  margin-bottom: 0.5rem;
  margin-inline: auto;
  vertical-align: middle;
  padding: 20px;
}

/* Style for the slider */
.toggle-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background-color: #ccc;
  transition: all 0.4s ease-in;
  border-radius: 2.13rem;
  width: 2.50rem;
  height: 1.25rem;

  
}

.toggle-switch .slider:before {
  position: absolute;
  content: "";
  height: 20px; /* Adjust the height of the slider knob */
  width: 20px; /* Adjust the width of the slider knob */
  left: 1px; /* Adjust the position of the slider knob */
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* Style for the slider when checked */
.toggle-switch input:checked + .slider {
  background-color: #21dbf3;
}

/* Style for the slider knob when checked */
.toggle-switch input:checked + .slider:before {
  transform: translateX(20px); /* Adjust the position when checked */
}

.dark-mode {
  background-color: #333;
  color: #f0f0f0;
  transition: all 0.4s ease-in;
}

body.dark-mode nav {
  background-color: #333; /* Change this to your desired background color */
  color: #f0f0f0; /* Change this to your desired text color */
}

.dark-mode h1,
.dark-mode .click_me {
  color: white;
}
